@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Black.woff2") format("woff2"),
    url("../fonts/Fraunces-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

* {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.site-header {
  padding-top: 48px;
  padding-bottom: 34px;
}
.container {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.site-header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__nav-img {
  display: block;
}

.site-header__list {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-header__link {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888f;
  text-decoration: none;
  margin-right: 34px;
}

/* main list */

.site-main__section {
    
  background-image: url(../img/ssz.jpg);
  background-repeat: no-repeat;
}
.site-main__title {
  padding-top: 100px;
  padding-left: 86px;
  padding-bottom: 200px;
}
.site-main__text {
  margin: 0;
  padding: 0;
  width: 493px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-bottom: 32px;
}

.site-main__txt {
  margin-top: 32px;
  margin: 0;
  padding: 0;
  width: 445px;
  color: #fefcf7;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.site-main__link {
  margin-top: 32px;
  text-decoration: none;
  display: inline-block;
  padding: 16px 34px;
  background-color: #0e8784;
  border-radius: 6px;
  color: white;
}
/* section 2 */

.site-main-section {
  margin-top: 150px;
  padding-top: 55px;
  background-position: center top -70px;
  background-image: url(../img/bg-fond.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.site-list {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  background-position: bottom;
}
.site-list__item {
  list-style: none;
  text-align: center;
}

.site-list__text {
  width: 255px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}
.site-list__txt {
  font-family: "Barlow";
  width: 255px;
  font-weight: 400;
  line-height: 26px;
  color: #333d4b;
}

/* section 3 */

.main-section {
  margin-top: 200px;
  margin-bottom: 250px;
  position: relative;
}
.main-section__conteiner {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #2c343e;
}
.main-section__title-content {
  width: 540px;
  margin: 0 auto;
  text-align: center;
  color: rgb(111, 111, 111);
  margin-bottom: 80px;
}

.main-section__list {
  margin: 0;
  padding: 0;

  font-family: "Barlow";
  position: absolute;
  top: 285px;
  left: 90px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.main-card {
  width: 350px;
  padding: 70px 48px 15px 48px;
  background-color: #0e8784;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}
.main-section__card {
  margin-right: 20px;
}

/* section 4 */
.main-section {
}
.main-section__text {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.main-bottom_list {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 67px;
  list-style: none;
  display: flex;
}

.main-bottom__item {
  margin-right: 349px;
}

/* article */


.site-main-article {
    
}

.site-main-article__head {
    margin-top: 0px;
    margin-bottom: 178px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  
}
.site-main-article-list {
    margin-top: 0px;
    margin-bottom: 64px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    color: #333d4b;
}
.site-main-article-list__item {
    list-style: none;
    
   
}
.site-main-article-list__iteam-head-1 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
}
.site-main-article-list__item-head {
    font-family: "Fraunces", serif;
    width: 255px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}
.site-main-article-list__item-page {
    
    width: 285px;
    font-weight: 400;
    line-height: 26px;
}

.card-link {
    padding: 16px 31px;
text-decoration: none;
font-family: "Fraunces", serif;
background-color: #0E8784;
color: white;
}


/* footer */

.site-footer {
   
    margin-top: 200px;
}

.site-footer__section {
    align-items: center;
    padding: 47px 49px;
    display: flex;
    justify-content: space-between;
    background-color: #2C343E;
}
.site-footer__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

}
.site-footer__nav-img {
    display: block;
}


.site-footer__section-3 {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.site-footer__item {
    margin-right: 33px;
}

.site-footer__link {
    text-decoration: none;
    color: #83888F;
}

